sudo: false
language: android
jdk:
  - oraclejdk8

android:
    components:
      - build-tools-26.0.2
      - android-26
      - extra

before_script:
  - chmod +x gradlew

script:
    - ./gradlew check --info

