<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yydcdut.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".HeaderFooterActivity"
            android:label="SDLV with headers and footers"/>
        <activity
            android:name=".DifferentMenuActivity"
            android:label="SDLV with different menus"/>
        <activity
            android:name=".NormalListViewActivity"
            android:label="Normal ListView"/>
        <activity
            android:name=".SlideAndDragListViewActivity"
            android:label="SlideAndDragListView"/>
        <activity
            android:name=".ItemDragActivity"
            android:label="Touch Item to Drag"/>
        <activity
            android:name=".HeaderFooterViewTypeActivity"
            android:label="SDLV with headers and footers (viewType)"/>
        <activity
            android:name=".SimpleAdapterActivity"
            android:label="SDLV with SimpleAdapter"/>
    </application>

</manifest>
